<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

<script type="text/javascript">
window.location.replace("https://accounts.google.com/o/oauth2/v2/auth?"+
 "scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.email&"+
 "access_type=offline&"+
 "include_granted_scopes=true&"+
 "state=state_parameter_passthrough_value&"+
 "redirect_uri={{ auth_redirect }}"+
 "response_type=code&"+
 "client_id={{ client_id }}");
</script>
</body>
</html>